<div class="llh-footer">
  <div class="footer mt20">
    <div class="links radius4 mt20">
      <a href="<{url c='main' a='index'}>">Home</a>|
      <a href="<{url c='mobile/main' a='index'}>">Touch</a>
        <br>
        <!-- <{if !empty($nav)}>
       |<{foreach $nav as $v}><a href="<{$v.link}>"><{$v.name}></a><{if $v@iteration != $v@total}>|<{/if}><{/foreach}>
       <{/if}> -->
       <p>Copyright  2009-2016 Qingdao Instar International Trade Co.,LTD </p>
    </div>
      <!-- <{$footer nofilter}> -->
  </div>
</div>