<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="verydows-baseurl" content="<{$common.baseurl}>">
<meta name="keywords" content="Qingdao Instar International Trade Co., LTD" />
<meta name="description" content="Qingdao Instar International Trade Co., LTD" />
<title>Qingdao Instar International Trade Co., LTD</title>
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/general.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/goods.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/layui/css/layui.css" />
<script type="text/javascript" src="<{$common.baseurl}>/public/script/jquery.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/jquery.zoom.min.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/general.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/goods.js"></script>
<script type="text/javascript" src="<{$common.theme}>/layui/layui.all.js"></script>
<script type="text/javascript">




function reviewPageTurn(page_id){showReviewList(page_id);}
function reviewPageJump(e){showReviewList($(e).prev('input').val())}
</script>
</head>
<style>
  .llh-intro{
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
  }
  .llh-comin p{
    font-size: 20px;
    line-height: 48px;
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid #1d7ad9;
  }
  .llh-comin{
    padding-bottom: 20px;
  }
</style>
<body>
<!-- 顶部开始 -->
<{layout_topper common=$common}>
<!-- 顶部结束 -->
<!-- 头部开始 -->
<{layout_header common=$common}>
<!-- 头部结束 -->

<!-- 主体开始 -->
<div class="layui-carousel" id="test1" lay-filter="test1">
  <div carousel-item="">
    <div> <img  src="<{$common.theme}>/images/ban1.jpg" alt=""> </div>
    <div> <img src="<{$common.theme}>/images/ban2.jpg" alt=""> </div>
    <div> <img src="<{$common.theme}>/images/ban3.jpg" alt=""> </div>
    <div> <img src="<{$common.theme}>/images/baner1.jpg" alt=""> </div>
  </div>
</div> 
<div class="llh-comintro-busi">
  <div class="container w1100" style="padding: 30px;">
      <div class="llh-comin-title">
        <p>Why Choice us</p>
      </div>
      <p class="llh-intro-txt">
          Q: Are you the manufactory or trade company? <br>
          A: Both are. We have been engaged in this field for many years. So competitive price can be kept our customers. And the <br> quality for products & after service are better than others. Infinite brings you the best and the most trusted brands of <br> consumer electronice products which will take your digital lifestyle to a whole new level. <br>
          Q: What's your best price? <br>
          A: Our products have a quite wide price range for different types and different quality requirement. Please contact us freely, <br> we will be happy to give you a quotation upon receipt of your detailed requirements. <br>
          Q: How can I get the samples? <br>
          A: If you need some samples to test, please pay for the shipping cost and sample cost. <br>
          Q:Can you print our own logo on the case? <br>
          A: Yes, we can do the custom design case. We have two kinds of printing, heat-pressing and screen printing for your choice.
      </p> 
  </div>
</div>
<!-- 主体结束 -->
<!-- 页脚开始 -->
<{layout_footer}>
<!-- 页脚结束 -->
<!-- 评价模板开始 -->
<script type="text/template" id="review-tpl">
{@each list as v}
<dl>
  <dt><div class="avatar">{@if v.avatar != ''}<img width="60" height="60" src="<{$common.baseurl}>/upload/user/avatar/${v.avatar}" />{@else}<i class="icon"></i>{@/if}</div><div class="uname">${v.username}</div></dt>
  <dd>
    <div><span class="rating s_${v.rating}"></span><font>${v.satisficing}</font></div>
    <p class="mt10 c666">${v.content}</p>
    <p class="mt8 caaa aln-r">${v.created_date}</p>
  </dd>
  {@if v.replied != ''}
  <dd class="replied mt10">
    <p class="c666"><strong>客服回复：</strong>${v.replied.content}</p>
    <p class="mt5 caaa aln-r">${v.replied.dateline}</p>
  </dd>
  {@/if}
</dl>
{@/each}
</script>
<!-- 评价模板结束 -->
<!-- 评价翻页模板开始 -->
<script type="text/template" id="review-paging-tpl">
<div class="module aln-r cut">
  <div class="paging small">
    {@if paging.first_page == paging.current_page}<span class="disabled">上一页</span>{@else}<a onclick="reviewPageTurn(${paging.prev_page})">上一页</a>{@/if}
    {@each paging.all_pages as v}
    {@if paging.current_page == v}<span class="cur">${paging.current_page}</span>{@else}<a onclick="reviewPageTurn(${v})">${v}</a>{@/if}
    {@/each}
    {@if paging.last_page == paging.current_page}<span class="disabled">下一页</span>{@else}<a onclick="reviewPageTurn(${paging.next_page})">下一页</a>{@/if}
    <span class="tot">共<b>${paging.total_page}</b>页</span>
    <span class="jump">转到第<input type="text" value="${paging.current_page}" />页<button type="button" onclick="reviewPageJump(this)">确 定</button></span>
  </div>
</div>
</script>
<!-- 评价翻页模板结束 -->
<!-- 加入购物车对话框开始 -->
<div class="tocart-dialog cut" id="tocart-dialog">
  <p><i class="icon"></i><font class="ml10"></font></p>
  <div class="mt20"><a class="sm-green" href="<{url c='cart' a='index'}>">结算付款</a><a class="sm-gray" onclick="cancelTocartDialog()">继续购物</a></div>
  <a class="c999" onclick="cancelTocartDialog()">×</a>
</div>
<!-- 加入购物车对话框结束 -->
<!-- 用户登陆框开始 -->
<{layout_login common=$common}>
<!-- 用户登陆框结束 -->
<script type="text/javascript" src="<{$common.baseurl}>/public/script/juicer.js"></script>
<script>
  layui.use(['carousel', 'form'], function(){
  var carousel = layui.carousel
  ,form = layui.form;
  
  //常规轮播
  carousel.render({
    elem: '#test1'
    ,arrow: 'always'
    ,height: '700px'
    ,width: '100%'
  });
  var $ = layui.$, active = {
    set: function(othis){
      var THIS = 'layui-bg-normal'
      ,key = othis.data('key')
      ,options = {};
      
      othis.css('background-color', '#5FB878').siblings().removeAttr('style'); 
      options[key] = othis.data('value');
      ins3.reload(options);
    }
  };
  
  //监听开关
  form.on('switch(autoplay)', function(){
    ins3.reload({
      autoplay: this.checked
    });
  });
  
  $('.demoSet').on('keyup', function(){
    var value = this.value
    ,options = {};
    if(!/^\d+$/.test(value)) return;
    
    options[this.name] = value;
    ins3.reload(options);
  });
  
  //其它示例
  $('.demoTest .layui-btn').on('click', function(){
    var othis = $(this), type = othis.data('type');
    active[type] ? active[type].call(this, othis) : '';
  });
});
</script>
</body>
</html>