<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="verydows-baseurl" content="<{$common.baseurl}>">
<meta name="keywords" content="<{$GLOBALS.cfg.home_keywords}>" />
<meta name="description" content="<{$GLOBALS.cfg.home_description}>" />
<title><{$GLOBALS.cfg.home_title}></title>
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/general.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/index.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/layui/css/layui.css" />
<script type="text/javascript" src="<{$common.baseurl}>/public/script/jquery.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/general.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/carousel.js"></script>
<script type="text/javascript" src="<{$common.theme}>/layui/layui.all.js"></script>
</head>
<style>
  .layui-carousel>div>div img{width: 100%}
</style>
<body>
<!-- 顶部开始 -->
<{layout_topper common=$common}>
<!-- 顶部结束 -->
<!-- 头部开始 -->
<!-- 头部开始 -->
<{layout_header common=$common}>
<!-- 头部结束 -->
<!-- 头部结束 -->
<!-- 主体开始 -->
<div class="layui-carousel" id="test1" lay-filter="test1">
    <div carousel-item="">
      <div> <img  src="<{$common.theme}>/images/ban1.jpg" alt=""> </div>
      <div> <img src="<{$common.theme}>/images/ban2.jpg" alt=""> </div>
      <div> <img src="<{$common.theme}>/images/ban3.jpg" alt=""> </div>
    </div>
</div> 
<div class="w100 cf">
  <div class="container w1100 cf">
    <div class="catebar w280 fl"><{layout_catebar}></div>
    <div class="llh-module  cut fr llh-w-bg">
      <div class="gli_t">
        <h2 style="font-size:25px;font-weight: bold;color:#c91523;font-style: italic;"> Hot Sale </h2>
      </div>
      <div class="gli w680">
        <{if !empty($recommend)}>
        <ul>
          <{foreach $recommend as $v}>
          <li>
            <div class="im"><a href="<{url c='goods' a='index' id=$v.goods_id}>"><img alt="<{$v.goods_name}>" src="<{$common.baseurl}>/upload/goods/prime/150x150/<{$v.goods_image}>" /></a></div>
            <h3><a href="<{url c='goods' a='index' id=$v.goods_id}>"><{truncate($v.goods_name, 40)}></a></h3>
            <!-- <p class="price"><i>¥</i> <{$v.now_price}></p> -->
          </li>
          <{/foreach}>
        </ul>
        <{/if}>
      </div>
    </div>
    <{layout_helper}>
  </div>
</div>
<!-- 主体结束 -->
<!-- 页脚开始 -->
<{layout_footer}>
<!-- 页脚结束 -->
<script type="text/javascript" src="<{$common.baseurl}>/public/script/juicer.js"></script>
<script>
layui.use(['carousel', 'form'], function(){
  var carousel = layui.carousel
  ,form = layui.form;
  
  //常规轮播
  carousel.render({
    elem: '#test1'
    ,arrow: 'always'
    ,height: '450px'
    ,width: '100%'
  });
  
  //改变下时间间隔、动画类型、高度
  // carousel.render({
  //   elem: '#test1'
  //   ,interval: 1800
  //   ,anim: 'fade'
  //   ,height: '400px'
  //   ,width: '800px'
  // });
  
  //设定各种参数
  // var ins3 = carousel.render({
  //   elem: '#test3'
  // });
  // //图片轮播
  // carousel.render({
  //   elem: '#test10'
  //   ,width: '778px'
  //   ,height: '440px'
  //   ,interval: 5000
  // });
  
  //事件
  // carousel.on('change(test4)', function(res){
  //   console.log(res)
  // });
  
  var $ = layui.$, active = {
    set: function(othis){
      var THIS = 'layui-bg-normal'
      ,key = othis.data('key')
      ,options = {};
      
      othis.css('background-color', '#5FB878').siblings().removeAttr('style'); 
      options[key] = othis.data('value');
      ins3.reload(options);
    }
  };
  
  //监听开关
  form.on('switch(autoplay)', function(){
    ins3.reload({
      autoplay: this.checked
    });
  });
  
  $('.demoSet').on('keyup', function(){
    var value = this.value
    ,options = {};
    if(!/^\d+$/.test(value)) return;
    
    options[this.name] = value;
    ins3.reload(options);
  });
  
  //其它示例
  $('.demoTest .layui-btn').on('click', function(){
    var othis = $(this), type = othis.data('type');
    active[type] ? active[type].call(this, othis) : '';
  });
});
</script>
</body>
</html>